.idea
/out
/target
build-and-deploy.sh
spotify-data-app.iml
your-project-name.iml

# Java
target/
*.class
*.jar
*.war

# Spotify Data
*.csv
data/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
node_modules
